:root {
    --white-color: #fff;
}

* {
    box-sizing: inherit;
    padding: 0;
    margin: 0;
}

html {
    font-size: 62.5%;
    line-height: 1.6rem;
    font-family: sans-serif;
    box-sizing: border-box;
}
