.navigation {
    height: 70px;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: var(--white-color);
    color: var(--text-color);
    z-index: 1000;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    border-bottom: 1px solid rgba(255, 255, 255, 0.05);
}

.navbar__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 70px;
}

.navbar__logo {
    font-size: 2.6rem;
    font-weight: 600;
}

.navbar__list {
    display: flex;
    list-style: none;
    gap: 30px;
    align-items: center;
    justify-content: space-between;
}

.navbar__item:last-child {
    margin-left: 10px; 
}

.navbar__link {
    text-decoration: none;
    color: var(--text-color);
    font-size: 1.6rem;
    font-weight: 700;
    text-transform: uppercase;
}

.navbar__link:hover {
    color: #56CCF2;
}

.navbar__link--active {
    color: #56CCF2;
    font-weight: 700;
    position: relative;
}

.navbar__link--active::after {
    content: "";
    position: absolute;
    bottom: -5px;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: #56CCF2;
}

.navbar__link.btn {
    background-color: #8db3f5;
}

.navbar__link--active.btn {
    color: var(--text-color);
}

.navbar__link--active.btn::after {
    background-color: transparent;
}

.navbar__link.btn.navbar__link--active {
    background-image: linear-gradient(120deg, #2F80ED, #56CCF2, #2F80ED);
    background-size: 200% 100%;
    animation: shimmer 3s infinite linear;
}

@keyframes shimmer {
    0% { background-position: 100% 0; }
    100% { background-position: -100% 0; }
}

/* Header */
.header {
    padding-top: 70px;
    height: 1000px;
    background: linear-gradient(to right, #2F80ED, #56CCF2);
}

/* About */
.about {
    height: 1000px;
    background-color: bisque;
}

/* Skills */
.skills {
    height: 1000px;
    background-color: brown;
}

/* Projects */
.projects {
    height: 1000px;
    background-color: cadetblue;
}

/* Footer / Contact */
.footer {
    height: 1000px;
    background-color: tomato;
}